<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/error.css">
        <title>WEBAMP4</title>
    </head>
    <body>
        <header>
            <section>
                <h1>WEBAMP4</h1>
            </section>
        </header>
        <article class="main-content">
            <section class="top">
                <h1>Error</h1>
                <p class="message">{{.error_msg}}</p>
            </section>
        </article>
        <footer>
            <section>
                <p>Copyright &copy; 2019 Kensuke Sakakibara</p>
            </section>
        </footer>
    </body>
</html>
